@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-position: right;
  background-size: auto;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: auto;
  height: auto;
  opacity: 0;
  /* display: none; */
  -webkit-appearance: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #afafaf;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #059669;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
